/* General */

* {
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

/* Page Level */

#pageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

/* Login Level */

#loginContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0px 0px 40px 2px rgba(0,0,0,0.25);
    padding: 30px;
    gap: 20px;
}

/* Input Level */

#mainInputContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 10px;
    width: 300px;
}

.inputContainer {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    gap: 5px;
}

.inputIcon {
    width: 40px;
    height: 30px;
    margin-right: 10px;
}

.input {
    width: 300px;
    color: black;
    border: none;
    height: 40px;
    border-bottom: 2px solid black
}

.input:focus {
    border: 2px solid gray
}


/* Button Level */

#buttonContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    gap: 10px;
    margin-top: 20px;
}

.loginButton {
    width: 100%;
    padding: 10px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 10px;
}

.loginButton:hover {
    color: black;
    background-color: lightgray;
}

#signup {
    background-color: #1E5F02;
}

#signup:hover {
    color: white;
    background-color: lightgray;
}

/* Misc Items (Logo Login) */

#logoContainer {
    display: flex;
    justify-content: center;
}

#loginLogo {
    width: 400px;
    height: 100px;
}

.loginTitle {
    margin-bottom: 20px;
}



